@charset "UTF-8";
/* цвет основного текста #212121 */
/* вторичный цвет текста  #757575 */
/* header #000000 */
/* footer rgba(255,255,255,0.6) */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-no-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.h2-web {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

.modal-form__submit {
  display: inline-flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: inherit;
  cursor: pointer;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #2f303a;
}

.logo span {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
  .header .container {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .header .container .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header .container .logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header .navig {
    display: flex;
    align-items: center;
  }
  .header .navig-menu {
    display: flex;
    align-items: center;
  }
  .header .navig-address {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header .navig-address {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .navig-menu__item:not(:last-child) {
    margin-right: 40px;
  }
  .navig-menu__item a {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    background-color: #ffffff;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navig-menu__item a::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navig-menu__item a:hover, .navig-menu__item a:focus, .navig-menu__item a:active {
    color: #2196f3;
  }
  .studio a,
  .portfolio a {
    color: #2196f3;
  }
  .studio a::after, .studio a::after,
  .portfolio a::after,
  .portfolio a::after {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .navig-address__item {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .navig-address__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .navig-address__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .navig-address__item .address-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    background-color: #ffffff;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navig-address__item:hover .address-link,
  .navig-address__item:focus .address-link {
    color: #2196f3;
  }
  .navig-address__item .address-mail {
    fill: #757575;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navig-address__item .address-phone {
    fill: #757575;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navig-address__item:hover .address-mail {
    fill: #2196f3;
  }
  .navig-address__item:hover .address-phone {
    fill: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.hero-container {
  min-height: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/HERO.jpg");
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image: url("../../images/HERO@2x.jpg");
  }
}

.hero-container__slogan {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-container__button {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .hero-container {
    min-height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .hero-container__slogan {
    width: 696px;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.16;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .advantages-list__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    min-height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .advantages-list__svg svg {
    width: 70px;
    height: 70px;
  }
  .advantages-list h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-list h3 {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .advantages-list p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .advantages-list__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about .h2-web {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
  }
  .about-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .about-list__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
  }
  .about-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .about-list img {
    display: block;
  }
  .about-list .about-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.team-container {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .team-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-container .h2-web {
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-container .h2-web {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .names-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .names-item {
    margin: 0 auto;
    max-width: 450px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .names img {
    width: 450px;
    height: 460px;
  }
  .names h3 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 3%;
    color: #212121;
  }
  .names p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .names {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .names-item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    max-width: 354px;
  }
  .names-item img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .names-item {
    flex-basis: calc((100% - 8 * 15px) / 4);
    max-width: 270px;
  }
  .names-item img {
    width: 270px;
    height: 260px;
  }
}

@media screen and (min-width: 480px) {
  .profession {
    padding: 30px 122px;
  }
}

@media screen and (min-width: 768px) {
  .profession {
    padding: 30px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .profession {
    padding: 30px 32px;
  }
}

.profession .team-icons {
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.profession .team-icons .team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.profession .team-icons .team-link:hover {
  background-color: #2196f3;
}

.profession .team-icons .team-link:hover .team-svg {
  fill: #ffffff;
}

.profession .team-icons .team-svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients .h2-web {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients .h2-web {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin: 0 auto;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .clients-item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-item:hover {
  border-color: #2196f3;
}

.clients-item:hover .clients-item__svg {
  fill: #2196f3;
}

.clients-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .clients-item__svg {
    fill: #afb1b8;
    width: 210px;
    height: 92px;
    padding: 16px 32px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .clients-item__svg {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item__svg {
    width: 170px;
  }
}

.works-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .works-filter {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .works-filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .works-filter {
    margin-bottom: 50px;
  }
}

.works-filter li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .works-filter li {
    margin-bottom: 15px;
  }
}

.works-filter .works-filter__button {
  display: block;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-filter .works-filter__button:hover, .works-filter .works-filter__button:focus, .works-filter .works-filter__button:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* WORKS */
@media screen and (min-width: 480px) {
  .works {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .works .projects-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.projects-item {
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .projects-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-item {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:hover .projects-overlay {
  transform: translateY(0);
}

.projects-item__thumb {
  position: relative;
  overflow: hidden;
}

.projects-item__thumb img {
  display: block;
  margin: 0;
  padding: 0 auto;
}

.projects-item__thumb .projects-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item__thumb .projects-overlay .overlay-text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.projects-item__description {
  width: 100%;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-item__description h3 {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-item__description p {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-container {
  background-color: #2f303a;
}

@media screen and (min-width: 480px) {
  .footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container .container {
    justify-content: flex-start;
  }
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-main {
    align-items: flex-start;
    margin-right: 70px;
    padding-bottom: 0;
  }
}

.footer-main p {
  margin-top: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-main .address-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-main .address-footer {
    align-items: flex-start;
  }
}

.address-footer__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer__item a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer__item:hover a,
.address-footer__item:focus a {
  color: #2196f3;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join {
    align-items: flex-start;
    margin-right: 93px;
    padding-bottom: 0;
  }
}

.join h3 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join .foot-icons {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-item .foot-link {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-item .foot-link .foot-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.join-item .foot-link:hover {
  background-color: #2196f3;
}

.join-item .foot-link:hover .foot-svg {
  fill: #ffffff;
}

@media screen and (min-width: 480px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    position: relative;
    align-items: flex-start;
  }
}

.footer-form__label {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__label {
    padding-bottom: 0px;
    align-items: flex-start;
  }
}

.footer-form__label .footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .footer-form__label input {
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
    background-color: unset;
    color: #000000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form__label input placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-form__label input:not(:placeholder-shown) {
    background-color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__label input {
    width: 358px;
    height: 50px;
  }
}

.footer-form__submit {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-form__submit {
    position: absolute;
    bottom: 0;
    right: -212px;
  }
}

.footer-form__submit .footer-btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.mobile {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.mobile .logo {
  padding-left: 15px;
}

.burger {
  display: inline-flex;
  margin: 0;
  margin-right: 15px;
  padding: 12px 8px;
  border: none;
  background-color: #ffffff;
  outline: none;
  z-index: 2;
  cursor: pointer;
}

.burger svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger:hover svg,
.burger:focus svg {
  fill: #2196f3;
}

.burger-open {
  display: none;
}

.burger.is-open .burger-close {
  display: none;
}

.burger.is-open .burger-open {
  display: block;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  background-color: #ffffff;
  padding-left: 40px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .mobile-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 796px;
  }
  .mobile-container.is-open {
    display: block;
  }
}

.mobile-menu {
  margin-top: 48px;
  margin-bottom: 302px;
}

.mobile-menu__item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__item:hover, .mobile-menu__item:focus {
  color: #2196f3;
}

.mobile-menu__item a {
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__item a:hover, .mobile-menu__item a:focus, .mobile-menu__item a:active {
  color: #2196f3;
}

.mobile-address__phone {
  display: block;
  text-align: left;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-address__mail {
  display: block;
  text-align: left;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mobile-social {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.mobile-social__item {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.backdrop {
  position: fixed;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 609px;
  width: 450px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal-form__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.modal-form__close .form-close-svg {
  display: block;
  align-items: center;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__close:hover .form-close-svg,
.modal-form__close:focus .form-close-svg {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form h4 {
  display: block;
  text-align: center;
  padding-bottom: 12px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-label .modal-label__title {
  margin: 0;
  margin-bottom: 4px;
}

.form-label .form-input-wrap {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}

.form-label .form-input-wrap input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-label .form-input-wrap input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-label .form-input-wrap input:focus + .form-input-svg {
  fill: #2196f3;
}

.form-label .form-input-wrap .form-input-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label textarea {
  height: 120px;
  margin: 0;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-label textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.label-agreement {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.label-agreement::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 7px;
  margin-left: 12px;
  border-radius: 2px;
}

.label-agreement a {
  color: #2196f3;
}

.modal-checkbox:checked + .label-agreement::before {
  border: none;
  background-origin: border-box;
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */