$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-text-links: rgba(255, 255, 255, 0.6);
$title-bcg-color: #2f303a;
$hero-bcg-color: rgba(47, 48, 58, 0.4);
$about-bg-color: rgba(47, 48, 58, 0.8);
$hero-alt-color: #c4c4c4;
$primary-bcg-color: #f5f4fa;
$logo-primary-header: #000000;
$header-border-color: #ececec;
$projects-border-color: #eeeeee;
$clients-link-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
