@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;

    .h2-web {
      display: flex;
      margin: 0 auto;
      margin-bottom: 50px;
      justify-content: center;
    }
  }

  .about-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    &__item {
      position: relative;
      flex-basis: calc((100% - 60px) / 3);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    img {
      display: block;
    }

    .about-description {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-top: 27px;
      padding-bottom: 27px;

      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $primary-white-color;
      background-color: $about-bg-color;
    }
  }
}
