.works-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0;
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  li:not(:last-child) {
    margin-right: 8px;
  }

  li {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  .works-filter__button {
    display: block;
    padding: 6px 22px;
    border: 0px;
    border-radius: 4px;
    height: 38px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    background-color: $primary-bcg-color;
    cursor: pointer;

    transition: color 250ms $timing-function,
      background-color 250ms $timing-function, box-shadow 250ms $timing-function;

    &:hover,
    &:focus,
    &:active {
      color: $primary-white-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
