.team-container {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  background-color: $primary-bcg-color;

  .h2-web {
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: $primary-bcg-color;
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}

.names {
  &-item {
    width: 270px;
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 480px) {
    h3 {
      display: flex;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 10px;

      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 3%;
      color: $title-text-color;
    }

    p {
      display: flex;
      justify-content: center;
      margin: 0 auto;

      font-weight: 400;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: $primary-text-color;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    &-item {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    &-item {
      flex-basis: calc((100% - 8 * 15px) / 4);
    }
  }
}

.profession {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;

  .team-icons {
    margin: 0 auto;
    margin-top: 16px;
    display: flex;

    justify-content: space-between;

    .team-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;

      transition: background-color 250ms $timing-function;

      &:hover {
        background-color: $accent-color;

        .team-svg {
          fill: $primary-white-color;
        }
      }
    }
    .team-svg {
      fill: #afb1b8;
      width: 20px;
      height: 20px;

      transition: fill 250ms $timing-function;
    }
  }
}
