/* WORKS */
.works {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .projects-list {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}

.projects-item {
  transition: box-shadow 250ms $timing-function;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    .projects-overlay {
      transform: translateY(0);
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;

    img {
      display: block;
      margin: 0;
      padding: 0 auto;
    }

    .projects-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);

      transform: translateY(101%);
      transition: transform 250ms $timing-function;

      .overlay-text {
        padding: 63px 24px;

        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: $primary-white-color;
      }
    }
  }

  &__description {
    width: 370px;
    padding: 20px 24px;
    border-right: 1px solid $projects-border-color;
    border-left: 1px solid $projects-border-color;
    border-bottom: 1px solid $projects-border-color;

    h3 {
      margin: 0;
      margin-bottom: 4px;

      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $title-text-color;
    }

    p {
      display: block;
      margin: 0;

      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: $primary-text-color;
    }
  }
}
